body {
    font-family: 'Montserrat', Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

::selection{
    background-color:violet;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a {
    color: #fff;
    font-size: 1.5rem;
    text-decoration: none;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 1rem;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
}

.user-profile a {
    color: #fff;
    text-decoration: none;
    border: 1px solid #fff;
    padding: 0.5rem 1rem;
    border-radius: 5px;
}

.main {
    padding: 2rem;
}

.hero {
    background-image: url("https://www.meetyoo.com/sites/default/files/images/ImmersiveVirtualEventsandthemetaverse%20banner-2906%20%281200%20%C3%97%20627%20px%29%20%281%29%20%281%29.png");
    background-size: cover;
    background-position: center;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #fff;
}

.hero h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
}

.hero h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}

.cta-button {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 1rem 2rem;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2rem;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #0056b3;
}

.event-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    margin-top: 2rem;
}

.event {
    text-align: center;
    border: 1px solid #ccc;
    padding: 1rem;
}

.event img {
    width: 400px;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
}

.cta-button {
    display: block;
    background-color: #007bff;
    color: #fff;
    padding: 0.8rem 1.5rem;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    transition: background-color 0.3s ease;
    margin-top: 1rem;
}

.cta-button:hover {
    background-color: #0056b3;
}

footer {
    background-color: #f9f9f9;
    padding: 1rem;
    text-align: center;
}
