body {
    font-family: 'Montserrat', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
   
}


header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
}

header .logo a {
    color: #fff;
    font-size: 1.5rem;
    text-decoration: none;
}

main {
    padding: 2rem;
}

.signup-form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.signup-form h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    text-align: center;
}

.signup-form label {
    display: block;
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
}

.signup-form input[type="text"],
.signup-form input[type="email"],
.signup-form input[type="password"] {
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 1.5rem;
}

.radio-group {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
}

.radio-group input[type="radio"] {
    margin-right: 0.5rem;
}

.signup-form input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 1rem 1.5rem;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.signup-form input[type="submit"]:hover {
    background-color: #0056b3;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

/* Animations */
@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate__animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}

.animate__fadeInDown {
    animation-name: fadeInDown;
}

.animate__fadeInUp {
    animation-name: fadeInUp;
}

/* Colors and Styling */
body {
    color: #444;
}

header {
    background-color: #007bff;
}

header .logo a {
    color: #fff;
}

main {
   /* background-color: #f7f7f7;*/
    background-image: url('C:\Users\akunu\OneDrive\Pictures\signupimage.jpg');
    
   background-size: cover;
}



.signup-form {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.signup-form input[type="submit"] {
    background-color: #0056b3;
}

footer {
    background-color: #444;
}



